{erl_opts, [debug_info]}.
{deps,
  [
    {mochijson2, "0.*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
    {reloader, ".*", {git, "git://github.com/lucaspiller/reloader.git", {branch, "master"}}},
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}},
    {espec, ".*", {git, "git://github.com/lucaspiller/espec.git", "master"}}
  ]}.
